<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Air Vue</title>
    <H1> Air Vue </H1>
</head>

<body>
    <h3>You know better what you breathe</h3>
    <div class="chart" id="bargraph">
        <script>
            var graphs = {{ v | safe}};
            Plotly.plot('bargraph', graphs, {});
        </script>
    </div>
    <p>Open Street Maps</p>
    <p>What the fuck?</p>
    <div class="chart" id="bargraph1">
        <script>
            var graphs = {{ map_inter | safe}};
            Plotly.plot('bargraph1', graphs, {});
        </script>
    </div>
</body>

</html>